*{
    margin: 0;
}
body{
    background-color:#f5f6f7;
}
.top{
    width: 100%;
    height: 158px;
}
.op{
    position: absolute;
   margin-top: 20px;
    float: right;
    right: 0;
}
select{
    background-color: #fff;
    border: 1px solid #dadada;
    padding: 5px;
}
button{
    cursor: pointer;
}
.wrap_t{
    position: relative;
    width: 768px;
    margin: 0 auto;
}
.wrap_t h1{
    padding-top: 50px;
    text-align: center;
}
.logo{
    background: url(./n_l.png);
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 240px auto;
    color: transparent;
    font-size: 0;
}
.hidden{
    width: 1px;height: 1px;overflow: hidden; margin: -1px; position: absolute;
}
.wrap_b{
    width: 460px;
    margin: 0 auto;
}
.allchk{
    position: relative;
    padding-left: 34px;
}
.allchk p{
    font-weight: bold;
    font-size: 15px;
    text-decoration: underline;
}
.allchk p::before{
    content:'';
    position: absolute;
    background: url(./no_chk.png);
    background-size: cover;
    top: 25%;
    left: 1px;
    width: 24px;
    height: 24px;
}
.container{
    margin-top: 20px;
    width: 100%;
    display: block;
}
.subchk{ 
    width: 100%;
    margin-top: 20px;
    position: relative;
    padding-left: 34px;
}
.subchk p{
    font-size: 15px;
}
span{
    color: #08a600;
}
.cho{
    color: gray;
}

.subchk button{
    position: absolute;
    right: 5px;
    height: 25px;
    width: 90px;
    font-size: 12px;
    top: -3px;
    border: 1px solid #08a600;
    background: #fff;
    color: #08a600;
}
.subchk p::before{
    content:'';
    position: absolute;
    background: url(./no_chk.png);
    background-size: cover;
    top: 0;
    left: 1px;
    width: 24px;
    height: 24px;
}
.pro_b{
    margin-top: 10px;
    width: 100%;
    font-size: 12px;
    color: #333;
}
.pro_b a{
    color: #000;

}
.btn_b{
    margin-top: 10px;
    width: 100%;
    font-size: 12px;
}
.btn_b button{
    width: 45%;
    color: #fff;
    border: none;
    padding: 15px 1px;
    font-size: 16px;
}
.no{
    background-color: #8e8e8e;
}
.ok{
    float: right;
    background-color: #03c75a;
}    
.scroll{
    
    margin-top: 10px;
    overflow: scroll;
    width: 100%;
    height: 88px;
    padding: 12px;
    font-size: 12px;
    border: 1px solid #dadada;
    background: #fff;
}
footer{
    margin-top: 20px;
}
footer ul{
    list-style: none;
}
footer li{
    font-size: 12px;
    float: left;
    margin-right: 10px;
}
.m_logo{
    padding-left: 50px;
    color: #03c75a;
    font-weight: bold;
}
footer li a span{
    color: #000;
    font-weight: bold;
}
footer li a{
    color: #000;
    text-decoration: none;
}
